<div class="w-50">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary "
        style="position:fixed; width: 200px; left: 0; height: 95%;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">Sidebar</span>
            <% user %>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">

            <% if (true) { %>
                <li>
                    <a href="/users" class="nav-link link-body-emphasis">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#table" />
                        </svg>
                        Użytkownicy
                    </a>
                </li>
                <% } %>
                    <li>
                        <a href="/workers" class="nav-link link-body-emphasis">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#table" />
                            </svg>
                            Pracownicy
                        </a>
                    </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/img/avatar.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>
                    <%= user.name %>
                </strong>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">Profil</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/logout">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</div>